@font-face {
   font-family: 'Noto Sans Runic';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/Users/Karotteman/Documents/Git/Portfolio/Karotteman.github.io/fonts/Noto Sans Runic/regular.ttf') format('truetype');
}
